* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

    --primary-color: #007546;
    --secondary-color: #00D480;
    --input-label-color: #D9D9D9;
    --bg-color: #ffffff;
    --text-color: #002718;
    --primary-button-color: #00AD1d;
    --secondary-button-color: #FF8000;
    --primary-button-hover-color: #006B12;
    --secondary-button-hover-color: #834100;
    --cart-bg: #EFEFEF;
    --gradient: linear-gradient(0deg, #007546, #00D480);
}

.FAQ-container {
    margin-left: 12vw;
    text-align: center;
    padding: 80px 60px 80px 60px;
}

.FAQ-container h1 {
    font-size: 50px;
    margin-top: 20px;
}

.faqs {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    margin-top: 50px;
}

.left-container > div,
.right-container > div {
    margin-top: 20px;
}

.question-and-answer {
    text-align: start;
    display: flex;
    width: 650px;
    gap: 10px;
    background: var(--primary-color);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--bg-color);
    transition: 0.3s ease-in-out;
}

.question-and-answer i {
    margin-top: 2px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.question-and-answer>div {
    padding-right: 20px;
}

.question-and-answer>div>p {
    display: none;
    padding: 10px 0;
    transition: 3s ease-in-out;
}

.question-and-answer:hover > div p {
    display: block;
}

